apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: external-pt-wing
    namespace: external-service
spec:
    interval: 15m
    chart:
        spec:
            chart: external-service
            version: 16.14.17
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    values:
        TZ: Europe/Berlin
        service:
            main:
                type: ExternalIP
                externalIP: "${EXTERNAL_PT_WING}"
                ports:
                    main:
                        protocol: http
                        port: 8443
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                annotations:
                    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
                    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
                    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
                    nginx.ingress.kubernetes.io/proxy-buffering: "off"
                    nginx.ingress.kubernetes.io/proxy-http-version: "1.1"
                integrations:
                    traefik:
                        enabled: false
                    certManager:
                        enabled: true
                        certificateIssuer: domain-0-le-prod
                hosts:
                    - host: pt-wing.${DOMAIN_0}
