apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: plex
    namespace: plex
spec:
    interval: 15m
    chart:
        spec:
            chart: plex
            version: 21.3.0
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: plex
    values:
        TZ: Europe/Berlin
        credentials:
            aws:
                type: s3
                accessKey: ${AWS_ACCESS_KEY}
                bucket: ${AWS_BUCKET}
                encrKey: ${AWS_ENCR_KEY}
                secretKey: ${AWS_SECRET_KEY}
                url: ${AWS_URL}
        persistence:
            config:
                volsync:
                    - credentials: aws
                      name: plex-config
                      src:
                          enabled: true
                      dest:
                          enabled: true
                      type: restic
            data-vol:
                enabled: true
                type: nfs
                mountPath: /data/media
                path: /mnt/Helios/data/media
                server: ${LOCAL_NAS_IP}
        securityContext:
            container:
                UMASK: "0022"
                runAsGroup: 568
                runAsUser: 568
            pod:
                fsGroupChangePolicy: OnRootMismatch
        plex:
            additionalAdvertiseURL: ""
            disableGDM: true
            requireHTTPS: false
            serverIP: 10.0.0.211, plex.${DOMAIN_0}
        ingress:
            main:
                enabled: true
                ingressClassName: external
                integrations:
                    traefik:
                        enabled: false
                    certManager:
                        enabled: true
                        certificateIssuer: domain-0-le-prod
                hosts:
                    - host: plex.${DOMAIN_0}
                      paths:
                          - path: /
                            pathType: Prefix
        service:
            main:
                type: LoadBalancer
                integrations:
                    metallb:
                        enabled: true
        podOptions:
            hostUsers: true
#        resources:
#            limits:
#                gpu.intel.com/i915: 1
