apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: immich
    namespace: immich
spec:
    interval: 15m
    chart:
        spec:
            chart: immich
            version: 25.23.23
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: immich
    values:
        TZ: Europe/Berlin
        cnpg:
            main:
                backups:
                    credentials: aws
                    enabled: true
                    retentionPolicy: "14d"
                cluster:
                    singleNode: true
                database: immich
                mode: recovery
                password: ${IMMICH_DB_PW}
                recovery:
                    credentials: aws
                    enabled: true
        credentials:
            aws:
                type: s3
                accessKey: ${AWS_ACCESS_KEY}
                bucket: ${AWS_BUCKET}
                encrKey: ${AWS_ENCR_KEY}
                secretKey: ${AWS_SECRET_KEY}
                url: ${AWS_URL}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                integrations:
                    traefik:
                        enabled: false
                    certManager:
                        enabled: true
                        certificateIssuer: domain-0-le-prod
                hosts:
                    - host: immich.${DOMAIN_0}
                      paths:
                          - path: /
                            pathType: Prefix
